body
{
    background-size: cover;
    background-position: center;
}

.heading{
    width: 100%;
    margin: 0;
    text-align: left;
    font-size: 30px;
    text-shadow: 5px 5px 5px darkred;
}

.heading button{
    float: right;
    font-size: 16px;
}

#cam{
    float: left;
    margin-left: 50px;
    margin-top: 40px;
    border: dashed 5px black;
}

#body{
    text-align: left;
    margin: 5px;
}

#note{
    font-size: 18px;
}

#start{
    margin-left: 130px;
}

#reset{
    font-size: 16px;
    margin-right: 20px;
    margin-left: 10px;
    float: right;
    border-radius: 0%;
}

#status{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 100px;
}

h4{
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 2;
    margin: 0px;
    background-color: rgb(63, 1, 19);
    color: white;
}

canvas{
    text-align: center;
    box-shadow: 5px 5px 5px rgb(68, 65, 65);
    float: right;
    margin-top: 40px;
    margin-right: 50px;
    border: dashed 5px black;
}